In [1]:
# 데이터 불러오기
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [37]:
# 문제 28
# car 변수 값 중에서 'Merc'를 포함하는 데이터는 몇 개 인가?
df = pd.read_csv("mtcars.csv")
len(df[df['car'].str.contains('Merc')])

7

In [50]:
# 문제 29
# car 변수 값이 'Dino'로 끝나는 데이터와 'Porsche'로 시작하는 데이터 수의 합은?
df = pd.read_csv("mtcars.csv")
cond1 = len(df[df['car'].str.endswith('Dino')])
cond2 = len(df[df['car'].str.startswith('Porsche')])

cond1 + cond2

2

In [53]:
# 문제 30
# car 변수 값이 'Toyota'를 포함하지 않는 데이터는 몇 개 인가?
df = pd.read_csv("mtcars.csv")

len(df[~df['car'].str.contains('Toyota')])

30

In [93]:
# 문제 31
# groupby 함수를 활용해 cyl, vs 그룹별로 mpg값의 중앙값을 확인했을 때
# 가장 큰 중앙값은?
df = pd.read_csv("mtcars.csv")

df.groupby(by=['cyl', 'vs'])[['mpg']].median().max()

mpg    26.0
dtype: float64

In [119]:
# 문제 32 ***
# 근속연수 변수의 결측치를 각 부서별 같은 평가등급의 평균 근속연수로 채우고,
# 근속연수의 평균을 구하시오
# (단, 근속연수의 결측치, 평균값은 소수점을 버리고 정수로 채우시오)

### 복사영역 ###
import pandas as pd
import numpy as np
df = pd.DataFrame({
"부서": ["marketing"] * 9 + ["it"] * 9,
"평가등급": ["A", "A", "A", "B", "B", "B", "C", "C", "C",
         "A", "A", "A", "B", "B", "B", "C", "C", "C"],
"근속연수": [9, None, 12, 14, None, 17, 19, None, 22,
2, None, 5, 5, None, 8, 8, None, 10]
})

df2 = df.copy()
df2['근속연수'] = df2['근속연수'].fillna(df2.groupby(by = ['부서', '평가등급'])['근속연수'].transform('mean'))
df2['근속연수'] = df2['근속연수'].astype(int)
df2['근속연수'].mean().astype(int)

10

In [123]:
# 문제 33
# 제품가격(price) 변수의 결측치를 마트(mart)별 같은 제품(product)의
# 중앙값으로 채우고 제품가격(price)의 중앙값을 구하시오.
# (단, 정답은 소수점 둘째자리에서 반올림하시오)
### 복사영역 ###
import pandas as pd
import numpy as np
df = pd.DataFrame({
"mart": ["A"] * 9 + ["B"] * 9, # A = emart, B = homeplus
"product": ["tv", "tv", "tv", "ac", "ac", "ac", "wm", "wm", "wm"] * 2,
"price": [
120, None, 130,
450, None, 470,
900, None, 950,
125, None, 135,
440, None, 460,
910, None, 940]})

df['price'] = df['price'].fillna(df.groupby(['mart', 'product'])['price'].transform('median'))
round(df['price'].median(), 2)

455.0

In [125]:
# 문제 34
# pivot_table 함수를 활용해서 vs값이 0, am값이 0, gear값이 3인 그룹의
# mpg 평균값을 구하시오.
df = pd.read_csv("mtcars.csv")

result = pd.pivot_table(df, index = ['vs', 'am', 'gear'], values = ['mpg'], aggfunc = 'mean')
result

                  mpg
vs am gear
0  0  3     15.050000
   1  4     21.000000
      5     19.125000
1  0  3     20.333333
      4     21.050000
   1  4     28.033333
      5     30.400000

In [119]:
# 문제 35 ***
# pivot_table 함수를 활용해서
# vs값이 0, am값이 0, gear값이 3인 그룹의 데이터 수와
# vs값이 1, am값이 0, gear값이 4인 그룹의 데이터 수의 차이를
# 절대값으로 구하시오.
df = pd.read_csv("mtcars.csv")

# print(pd.pivot_table.__doc__)
result = pd.pivot_table(df, index = ['vs', 'am', 'gear'], values = 'mpg', aggfunc = 'count')
result.reset_index()

   vs  am  gear  mpg
0   0   0     3   12
1   0   1     4    2
2   0   1     5    4
3   1   0     3    3
4   1   0     4    4
5   1   1     4    6
6   1   1     5    1

In [154]:
# 문제 36
# 다음은 지역별 제품의 판매 관련 데이터이다.
# 매출(price*quantity)의 총합이 가장 큰 지역은 어디인가?
### 복사영역 ###
import pandas as pd
import numpy as np
df = pd.DataFrame({
'region': ['north', 'south', 'east', 'west', 'north', 'south', 'east', 'west'],
'product': ['a', 'a', 'b', 'b', 'c', 'c', 'a', 'a'],
'price': [100, 150, 200, 130, 160, 120, 90, 110],
'quantity': [10, 15, 20, 13, 16, 12, 9, 11]})
### 복사영역 ###

df['매출'] = df['price'] * df['quantity']
df = df.groupby(['region']).agg({
    '매출':'sum'}).sort_values('매출', ascending = False)
df

          매출
region
east    4810
south   3690
north   3560
west    2900

In [163]:
# 문제 37 ***
# mpg 값이 25이상이면 high, 15이상 25미만이면 medium, 15미만이면 low로
# 범주화하고 mpg값이 high인 그룹과 low인 그룹의 disp 표준편차의 차이를
# 절대값으로 구하시오.
df = pd.read_csv("mtcars.csv")
df['check'] = np.where(df['mpg'] >= 25, 'high', np.where(df['mpg'] >= 15, 'medium', 'low'))
round(abs(df[df['check'] == 'high']['disp'].std() - df[df['check'] == 'low']['disp'].std()), 1)

38.9

In [152]:
# 문제 38
# 다음은 학생별(학생ID) 선택과목의 점수, 과목별 강의실 정보에 대한 데이터다.
# 학생별 선택과목의 과목점수가 가장 큰 학생의 학생ID 를 구하시오.
### 복사영역 ###
import pandas as pd
df = pd.DataFrame({
'학생ID': [201, 202, 203, 204, 205],
'선택과목': ['수학', '영어', '과학', '수학', '영어'],
'수학_점수': [88, 92, 85, 91, 87],
'영어_점수': [78, 81, 79, 75, 83],
'과학_점수': [89, 85, 90, 88, 84],
'수학_강의실': ['101호']*5,
'영어_강의실': ['102호']*5,
'과학_강의실': ['103호']*5})
### 복사영역 ###
df

# df.apply(lambda low: df[df[f'{df['선택과목']}_점수']

KeyError: '수학점수'

In [170]:
# 문제 39 ***
# 다음은 학생별(학생ID) 선택과목의 점수, 과목별 강의실 정보에 대한 데이터다.
# 학생별 선택과목의 강의실 번호를 구하고 강의실 번호 3자리를
# 모두 더한 값은 무엇인가?
### 복사영역 ###
import pandas as pd
df = pd.DataFrame({
    '학생ID': [201, 202, 203, 204, 205],
    '선택과목': ['수학', '영어', '과학', '수학', '영어'],
    '수학_점수': [88, 92, 85, 91, 87],
    '영어_점수': [78, 81, 79, 75, 83],
    '과학_점수': [89, 85, 90, 88, 84],
    '수학_강의실': ['101호']*5,
    '영어_강의실': ['102호']*5,
    '과학_강의실': ['103호']*5})
### 복사영역 ###

df['강의실번호'] = df.apply(lambda row: int(row[f"{row['선택과목']}_강의실"].rstrip("호")), axis = 1)
df['강의실번호'].sum()

509

In [27]:
# 문제 40
# 다음은 학생별(학생ID) 선택과목의 점수, 과목별 강의실 정보에 대한 데이터다.
# 학점당 평균 점수가 가장 높은 학생의 학생ID를 구하시오.
# * 학점당 평균 점수는 가중점수의 총합을 전체 학점수로 나눈 값이다.
# * 가중점수는 과목별 점수 × 과목별 학점수로 계산한다.
### 복사영역 ###
import pandas as pd
df = pd.DataFrame({
'학생ID': [201, 202, 203, 204, 205],
# '선택과목': ['수학', '영어', '과학', '수학', '영어'],
'수학_점수': [88, 92, 85, 91, 87],
'영어_점수': [78, 81, 79, 75, 83],
'과학_점수': [89, 85, 90, 88, 84],
# '수학_강의실': ['101호']*5,
# '영어_강의실': ['102호']*5,
# '과학_강의실': ['103호']*5
})
# 학점 정보 추가
df['수학_학점수'] = 3
df['영어_학점수'] = 2
df['과학_학점수'] = 1
### 복사영역 ###

sub = ['수학', '영어', '과학']

for i in sub:
    df[f'{i}_가중점수'] = df[f'{i}_점수'] * df[f'{i}_학점수']

df['sub_sum'] = df['수학_가중점수'] + df['영어_가중점수'] + df['과학_가중점수']
df['hak_sum'] = df['수학_학점수'] + df['영어_학점수'] + df['과학_학점수']
df['result'] = df['sub_sum'] / df['hak_sum']
result = df['result'].max()

df[df['result'] == result]['학생ID']

1    202
Name: 학생ID, dtype: int64

In [145]:
# 문제 41 ***
# 다음은 어느 회사의 지역별(region) 성별에 따른 제품별 판매량 데이터이다.
# 지역별 성별에 따른 총 판매량을 구하고,
# 성별간 총 판매수 차이가 큰 지역의 지역명을 구하시오.
# (단, 총 판매수는 product1 과 product2를 더한 값이다)
### 복사영역 ###
import pandas as pd
data = {
'region': ['a']*4 + ['b']*4 + ['c']*4 + ['d']*4 + ['e']*4,
'gender': [1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 2, 1],
'product1': [
1000, 2000, 2500, 3000, # a
4000, 120, 250, 350, # b
5000, 6000, 5500, 5800, # c
7000, 7200, 7100, 7300, # d
8000, 8200, 8100, 8300 # e
],
'product2': [
3000, 1500, 1500, 2000, # a
3500, 350, 290, 1000, # b
4000, 4500, 4200, 4300, # c
6500, 6700, 6600, 6800, # d
7500, 7700, 7600, 7800 # e
]
}
df = pd.DataFrame(data)
### 복사영역 ###

# df2 = df.copy()
# df2['total'] = df2['product1'] + df2['product2']

# pivot1 = pd.pivot_table(df2,
# index='region',
# columns='gender', # 성별을 컬럼으로 구분
# values='total')
# # print(p1)
# pivot1.columns = ['1', '2']
# pivot1['result'] = abs(pivot1['1'] - pivot1['2'])
# pivot1_reset = pivot1.reset_index()
# pivot1_reset
# result = pivot1_reset[pivot1_reset['result'] == pivot1_reset['result'].max()]['region']
# print(result)

df['총판매량'] = df['product1']+df['product2']
df
df_sum = df.groupby(['region', 'gender'])['총판매량'].sum()
df_sum
# df_pivot = df_sum.unstack()
# df_pivot
# df_pivot[3] = abs(df_pivot[1]-df_pivot[2])
# df_pivot

# df_pivot[3].idxmax()

region  gender
a       1          8000
        2          8500
b       1          1820
        2          8040
c       1         19500
        2         19800
d       1         27600
        2         27600
e       1         31600
        2         31600
Name: 총판매량, dtype: int64

In [146]:
# 문제 42 ***
# 다음은 어느 회사의 지역별(region) 성별에 따른 제품별 판매량 데이터이다.
# product1 변수의 결측치를 각 region별 같은 성별의 평균 값으로 채우고,
# 지역별 product1과 product2 판매수의 차이가 가장 큰 지역을 찾으시오.
### 복사영역 ###
import pandas as pd
import numpy as np
data = {
'region': ['a']*4 + ['b']*4 + ['c']*4 + ['d']*4 + ['e']*4,
'gender': [1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 2, 1],
'product1': [
1000, 2000, 2500, 3000, # a
4000, 120, 250, 350, # b
5000, 6000, 5500, 5800, # c
7000, 7200, 7100, 7300, # d
8000, 8200, 8100, 8300 # e
],
'product2': [
3000, 1500, 1500, 2000, # a
3500, 350, 290, 1000, # b
4000, 4500, 4200, 4300, # c
6500, 6700, 6600, 6800, # d
7500, 7700, 7600, 7800 # e
]
}
df2 = pd.DataFrame(data)
df = df2.copy()
# 각 지역에서 첫 번째 등장하는 인덱스를 기준으로 결측치 처리
for region in ['a', 'b', 'c']:
    idx = df[df['region'] == region].index[0]
    df.loc[idx, 'product1'] = np.nan
### 복사영역 ###
df.head(10)

df['product1'] = df['product1'].fillna(df.groupby('region')['product1'].transform('mean'))
df['총계'] = df['product1'] + df['product2']
pivot = pd.pivot_table(df, index='region', columns = 'gender', values = '총계')
pivot.columns = ['1', '2']

pivot = pivot.reset_index()
pivot['result'] = abs(pivot['1'] - pivot['2'])
pivot[pivot['result'] == pivot['result'].max()]['region']

# df['product1'] = df['product1'].fillna(df.groupby('region')['product1'].transform('mean'))
# # product1 결측 처리까지 끝낸 df 기준으로
# df2 = df.copy()
# df2['total'] = df2['product1'] + df2['product2']

# pivot1 = pd.pivot_table(df2,
# index='region',
# columns='gender', # 성별을 컬럼으로 구분
# values='total')
# # print(p1)
# pivot1.columns = ['1', '2']
# pivot1['result'] = abs(pivot1['1'] - pivot1['2'])
# pivot1_reset = pivot1.reset_index()
# pivot1_reset

1    b
Name: region, dtype: object

In [147]:
# 문제 43 ***
# 다음은 연도별 과일의 판매량 및 재고 데이터이다.
# 각 연도별 최대 판매율(판매율 = sales/stock)을 가진 과일 종류를 찾아
# 연도별 해당 과일의 판매수(sales)를 모두 더하시오.
### 복사영역 ###
df = pd.DataFrame({
'year': [2022, 2022, 2023, 2023, 2024, 2024],
'type': ['sales', 'stock'] * 3,
'apple': [50, 60, 45, 55, 40, 50],
'banana': [30, 35, 25, 30, 20, 25],
'orange': [70, 65, 80, 75, 90, 85],
'grape': [90, 85, 88, 83, 86, 81]})

df1 = df[df['type'] == 'sales']
df2 = df[df['type'] == 'stock']
# print(df1)
# print(df2)

merged_df = pd.merge(df1, df2, on='year') # suffixes=('_sales', '_stock')
merged_df

fruits = ['apple', 'banana', 'orange', 'grape']
for i in fruits:
    merged_df[f'{i}_판매율'] = merged_df[f'{i}_x'] / merged_df[f'{i}_y']
merged_df

merged_df['최대판매율과일'] = merged_df[[f'{i}_판매율' for i in fruits]].idxmax(axis=1)
merged_df['최대판매율과일2'] = merged_df.loc[:, 'apple_판매율':'grape_판매율'].idxmax(axis=1)
merged_df

# 과일 유형만 따로 골라내기
merged_df['최대판매율과일'] = merged_df['최대판매율과일'].str.split('_').str.get(0)
# merged_df['최대판매율과일'] = merged_df['최대판매율과일'].str.replace('_판매율', '')
merged_df

# 판매율이 가장 높은 과일 유형의 판매수 구하기
# 방법1 (apply + lambda)
merged_df['최종판매수'] = merged_df.apply(lambda x: x[f"{x['최대판매율과일']}_x"], axis=1)
# 방법2 (리스트 컴프리헨션)
merged_df['최종판매수1'] = [merged_df.loc[i, merged_df.loc[i, '최대판매율과일'] + '_x'] for i in range(len(merged_df))]
merged_df

result = merged_df['최종판매수'].sum()
print(result)

236