#### 핵심문제 27개(1~10)

In [112]:
# 데이터 불러오기
import pandas as pd
import numpy as np

In [113]:
df = pd.read_csv("../../mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [114]:
# 문제 1
# mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오.
df = pd.read_csv("../../mtcars.csv")

In [115]:
Q1 = df['mpg'].quantile(0.25)
print(round(Q1))

15

In [116]:
# 문제 2
# mpg 값이 19이상 21이하인 데이터의 수를 구하시오
df = pd.read_csv("../../mtcars.csv")

In [117]:
cond = df[(df['mpg'] >= 19) & (df['mpg'] <= 21)]
print(len(cond))

5

In [118]:
# 문제 3 ***
# hp 변수의 IQR 값을 구하시오
df = pd.read_csv("../../mtcars.csv")
Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(0.75)

print(Q3 - Q1)

83.5

In [119]:
# 문제 4
# wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
df = pd.read_csv("../../mtcars.csv")
cond = df['wt'].sort_values(ascending=False).head(10)
sum_top10 = sum(cond)
print(int(sum_top10)) # 주의 : 소수점 반올림이 아니라 버리는 문제

42

In [120]:
# 문제 5
# 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째자리까지 출력하시오.
df = pd.read_csv("../../mtcars.csv")
all_cars = len(df)
cyl_cars = len(df[df['cyl'] == 6])

print(round(cyl_cars/all_cars, 1))

0.2

In [121]:
# 문제 6
# 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오
df = pd.read_csv("../../mtcars.csv")

df10 = df.head(10)
mpg_means = df10['mpg'].mean()
print(round(mpg_means))

20

In [122]:
# 문제 7
# 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df = pd.read_csv("../../mtcars.csv")

n = int(len(df)/2)
half = df.head(n)
median = half['wt'].median()
print(median)

3.44

In [123]:
# 문제 8 ***
# 결측값이 있는 데이터의 수를 출력하시오.

# 데이터 생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

# ----------------------------------------------------

missing = df.isnull().sum()
print(missing.sum())

5

In [124]:
# 문제 9 ***
# '판매 수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 평균값을 정수로 출력

# 데이터 생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

# ---------------------------------------------------

Q2 = df['판매수'].median() # 중앙값 구해서
df['판매수'] = df['판매수'].fillna(Q2) # na에 Q2로 채움
mean = df['판매수'].mean()
print( round( mean ) )

15

In [125]:
# 문제 10 ***
# 판매수 컬럼에 결측치가 있는 행을 제거하고,
# 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여
# 판매수 변수의 Q1(제1사분위수) 값을 정수로 출력하시오.
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

# -------------------------------------------------

df = df['판매수'].dropna()

half = df[:(int(len(df)/2))]

half_Q1 = round(half.quantile(0.25))

print(half_Q1)

5

In [126]:
# 문제 11
# cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 정수로 출력하시오
df = pd.read_csv("../../mtcars.csv")

In [127]:
# cyl이 4인 자동차
four = df[df['cyl'] == 4]

# cyl이 6인 자동차
six = df[df['cyl'] == 6]

# mpg 평균값의 차이와 절댓값
abs_minus = abs(four['mpg'].mean() - six['mpg'].mean())

# 정수
int_value = int(abs_minus)

print(int_value)

6

In [128]:
# 문제 12 ***
# hp 변수에 대해 데이터 표준화 (Z-score)를 진행하고 이상치의 수를 구하시오.
# ( 단, 이상치의 z값이 1.5를 초과하거나 -1.5 미만인 값이다 )
df = pd.read_csv("../../mtcars.csv")

In [129]:
# hp 변수에 대한 데이터 표준화 (x-표준 평균)/표준 편차
mean_hp = df['hp'].mean()
std_hp  = df['hp'].std()

df['hp_z'] = (df['hp'] - mean_hp) / std_hp

# 이상치의 수를 구하라
is_outlier = (df['hp_z']  > 1.5 ) | (df['hp_z'] < -1.5)

# 이상치가 True인 행만 필터링
outlier_df = df[is_outlier]

# 이상치 갯수 출력
num_outliers = len(outlier_df)
print(num_outliers)

2

In [ ]:
# 문제 13
# mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
df = pd.read_csv("../../mtcars.csv")

In [ ]:
# 문제 14
# wt컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오. 
df = pd.read_csv("../../mtcars.csv")