In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
# 문제 1
# mpg 변수의 제 1사분위수를 구하고 반올림하여 정수값으로 출력하시오.
df = pd.read_csv("mtcars.csv")

round(df['mpg'].quantile(0.25))

15

In [14]:
# 문제 2
# mpg 값이 19이상 21이하인 데이터의 수를 구하시오.
df = pd.read_csv("mtcars.csv")
df[((df['mpg'] >= 19) & (df['mpg'] <= 21))].info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 29
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   car     5 non-null      object
 1   mpg     5 non-null      float64
 2   cyl     5 non-null      int64
 3   disp    5 non-null      float64
 4   hp      5 non-null      int64
 5   drat    5 non-null      float64
 6   wt      5 non-null      float64
 7   qsec    5 non-null      float64
 8   vs      5 non-null      int64
 9   am      5 non-null      int64
 10  gear    5 non-null      int64
 11  carb    5 non-null      int64
dtypes: float64(5), int64(6), object(1)
memory usage: 520.0+ bytes

In [ ]:
# 문제 3
# hp 변수의 IQR 값을 구하시오.
df = pd.read_csv("mtcars.csv")
df['hp'].qunatine