In [271]:
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [272]:
# 문제 1
# mpg 변수의 제 1사분위수를 구하고 반올림하여 정수값으로 출력하시오.
df = pd.read_csv("mtcars.csv")

round(df['mpg'].quantile(0.25))

15

In [273]:
# 문제 2
# mpg 값이 19이상 21이하인 데이터의 수를 구하시오.
df = pd.read_csv("mtcars.csv")
df[((df['mpg'] >= 19) & (df['mpg'] <= 21))].value_counts().sum()

5

In [274]:
# 문제 3
# hp 변수의 IQR 값을 구하시오.
df = pd.read_csv("mtcars.csv")
Q3 = df['hp'].quantile(0.75)
Q1 = df['hp'].quantile(0.25)
IQR = Q3 - Q1
print(IQR)

83.5

In [275]:
# 문제 4
# wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오. 
df = pd.read_csv("mtcars.csv")
df['wt'] = df['wt'].sort_values()
print(round(df['wt'].head(10).sum()))

31

In [276]:
# 문제 5
# 전체 자동차에서 cyl가 6인 비율이 얼마인지 반올림하여 소수점 첫째자리까지 출력하시오.
df = pd.read_csv("mtcars.csv")
six = df[df['cyl'] == 6]['cyl'].value_counts()
six_a = df['cyl'].value_counts().sum()
print( round(six/six_a, 1) )

cyl
6    0.2
Name: count, dtype: float64

In [277]:
# 문제 6
# 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오. 
df = pd.read_csv("mtcars.csv")
print(round(df.loc[:9, 'mpg'].mean()))

20

In [278]:
# 문제 7
# 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df = pd.read_csv("mtcars.csv")
# df
n2 = round(len(df)/2)
print(df['wt'].head(n2).median())

3.44

In [279]:
# 문제 8 
# 결측값이 있는 데이터의 수를 출력하시오.
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

print(df.isna().sum().sum())

5

In [280]:
# 문제 9
# '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고
# 판매수의 평균값을 반올림하여 정수로 출력하시오. 
# 데이터 생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

판매수_median = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(판매수_median)

판매수_mean = round(df['판매수'].mean())
print(판매수_mean)

15

In [281]:
# 문제 10
# 판매수 컬럼에 결측치가 있는 행을 제거하고,
# 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여
# 판매수 변수의 Q1(제1사분위수)값을 반올림하여 정수로 출력하시오. 
# 데이터 (수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df = df.dropna(subset=['판매수'])
length = round(len(df['판매수'])/2)
df = df['판매수'].head(length)
Q1 = df.quantile(0.25)
print(round(Q1))

5

In [282]:
# 문제 11
# cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 반올림하여 정수로 출력
df = pd.read_csv("mtcars.csv")
cyl_4 = df[df['cyl'] == 4]['mpg'].mean()
cyl_6 = df[df['cyl'] == 6]['mpg'].mean()
minus = round(abs(cyl_4 - cyl_6))
print(minus)

7

In [283]:
# 문제 12 ***
# hp 변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.
# (단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다)
df = pd.read_csv("mtcars.csv")
df['z_score'] = (df['hp'] - df['hp'].mean()) / df['hp'].std()

cond1 = (df['z_score'] < -1.5)
cond2 = (df['z_score'] > 1.5)
print(len(df[cond1]) + len(df[cond2]))

2

In [284]:
# 문제 13 ***
# mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
df = pd.read_csv("mtcars.csv")

from sklearn.preprocessing import minmax_scale

df['mpg'] = minmax_scale(df['mpg'])
print(len(df[df['mpg'] >= 0.7]))

5

In [285]:
# 문제 14
# wt컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오. 
df = pd.read_csv("mtcars.csv")

Q1 = df['wt'].quantile(0.25)
Q3 = df['wt'].quantile(0.75)
IQR = Q3 - Q1

upper = Q3 + 1.5 * IQR
lower = Q1 - 1.5 * IQR

cond1 = df['wt'] < lower
cond2 = df['wt'] > upper

print(len(df[cond1]) + len(df[cond2]))

3

In [286]:
# 문제 15
# 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 반올림하여 정수로 출력
# 데이터 생성 (수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

past_median = df['판매수'].median()
판매수_min = df['판매수'].min()
df['판매수'] = df['판매수'].fillna(판매수_min)
n_median = df['판매수'].median()

print(round(abs(past_median - n_median)))

2

In [287]:
# 문제 16
# vs변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오. 
df = pd.read_csv("mtcars.csv")
df = df[df['vs'] != 0]
df = df[df['mpg'] == df['mpg'].max()]
print(df[['hp']])

    hp
19  65

In [288]:
# 문제 17
# gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로
# 반올림하여 소수점 첫째자리까지 출력하시오. 
df = pd.read_csv("mtcars.csv")
t_std = df[df['gear'] == 3]['hp'].std()
f_std = df[df['gear'] == 4]['hp'].std()

print(round(abs(t_std - f_std),1))

21.8

In [289]:
# 문제 18 ***
# gear 변수의 값별로 그룹화하여 mpg평균값을 산출하고
# 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오.
df = pd.read_csv("mtcars.csv")
df = df.loc[:, ['gear', 'mpg'] ]

df.groupby('gear').mean()

df = df[df['gear']==4]
print(df['mpg'].quantile(0.75))

28.075

In [290]:
# 문제 19 ***
# hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후,
# hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")
df = df.sort_values(by =['hp'], ascending = False)

min_value = df['hp'].head(7).min()
# min_value
df = df.reset_index(drop = True)

df.loc[:6, 'hp'] = min_value
result = df[df['hp'] >= 150]['hp'].mean()
print(round(result))

187

In [298]:
# 문제 20
# car변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")
print(round(df[df['car'].str.contains('Merc')]['mpg'].mean()))

19

In [1]:
# 문제 21 ***
# '22년 1분기 매출액을 구하시오
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜'] = pd.to_numeric(df['날짜'], errors = 'coerce')
df = df[(df['날짜'] >= 20220101) & (df['날짜'] <= 20220331)]

df['매출액'] = df['판매수'] * df['개당수익']
result = df['매출액'].sum()
print(result)

NameError: name 'pd' is not defined

In [393]:
# 문제 22 ***
# '22년과 '23년의 총 매출액 차이를 절대값으로 구하시오. 
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜'] = pd.to_datetime(df['날짜'])
df_2022 = df[df['날짜'].dt.year == 2022]
df_2023 = df[df['날짜'].dt.year == 2023]

df_2022_result = (df_2022['판매수'] * df_2022['개당수익']).sum()
df_2023_result = (df_2023['판매수'] * df_2023['개당수익']).sum()

print(abs(df_2022_result - df_2023_result))

48600

In [394]:
# 문제 23 ***
# '23년 총 매출액이 큰 제품의 23년 판매수를 구하시오.
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜'] = pd.to_datetime(df['날짜'])
df = df[df['날짜'].dt.year == 2023]
df['매출액'] = df['판매수'] * df['개당수익']
df = df.groupby(by=['제품']).agg({
    '매출액': 'sum',
    '판매수': 'sum'
})

df

      매출액  판매수
제품
A   46000   80
B   32500   50

In [382]:
# 문제 24
# 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오. 
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['매출액'] = df['판매수'] * df['개당수익']
cond1 = df[(df['매출액'] > 4000) & (df['매출액'] < 10000)]
len(cond1)

4

In [391]:
# 문제 25
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오. 
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
 '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
 '판매수': [5, 10, 15, 15, 20, 25, 40],
 '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

df = df[(df['time'].dt.year == 2023) & (df['time'].dt.month == 9) & (df['time'].dt.day == 24) & (df['time'].dt.hour >= 16) & (df['time'].dt.hour <= 22)]
print(df['판매수'].sum())

25

In [413]:
# 문제 26
# 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.
# (매출액 = 판매수*개당수익)
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)

df = df[(df.index.year == 2023) & (df.index.month == 9) & (df.index.day == 25) & (df.index.hour <= 12)]
df['매출액'] = df['판매수'] * df['개당수익']
df = df[df['물품'] == 'B']['매출액'].sum()
df

26500

In [415]:
# 문제 27
# 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.
# (매출액 = 판매수*개당수익)
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)

df = df[(df.index.year == 2023) & (df.index.month == 9) & (df.index.day == 24) & (df.index.hour >= 12)]
df['매출액'] = df['판매수'] * df['개당수익']
df = df[df['물품'] == 'A']['매출액'].sum()
df

10000