In [1]:
import pandas as pd
import numpy as np

In [1]:
df = pd.read_csv("../mtcars.csv")
df.head()

NameError: name 'pd' is not defined

In [6]:
# 데이터 타입 확인
df.dtypes

car      object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [8]:
# 데이터 타입 변경(1개)
df1 = df.copy() # df1 = df ( 얕은 복사 ) df1 = df.copy() ( 깊은 복사 )
# cyl을 object type으롷
df1 = df.astype({'cyl':'object'})
print(df1.dtypes)

car      object
mpg     float64
cyl      object
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [11]:
# 데이터 타입 변경 ( 2개 이상 )
# cyl -> int, gear -> object

df1 = df1.astype({'cyl':'int', 'gear':'object'})
print(df1.dtypes)

car      object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear     object
carb      int64
dtype: object

In [12]:
# cyl 조회
df1['cyl']

0     6
1     6
2     4
3     6
4     8
5     6
6     8
7     4
8     4
9     6
10    6
11    8
12    8
13    8
14    8
15    8
16    8
17    4
18    4
19    4
20    4
21    8
22    8
23    8
24    8
25    4
26    4
27    4
28    8
29    6
30    8
31    4
Name: cyl, dtype: int64

In [14]:
# cyl 컬럼이 몇 개 있는가
df1['cyl'].value_counts()

cyl
8    14
4    11
6     7
Name: count, dtype: int64