In [2]:
import	pandas	as	pd
import	numpy	as	np

In [3]:
###############		복사 영역		###############
#	실기 시험 데이터셋으로 셋팅하기	(수정금지)
#	Seaborn의 내장 타이타닉 데이터셋을 불러옵니다.
import	seaborn	as	sns
df	=	sns.load_dataset('titanic')
x	=	df.drop('survived',	axis=1)
y	=	df['survived']
#	실기 시험 데이터셋으로 셋팅하기	(수정금지)
from	sklearn.model_selection	import	train_test_split
x_train,	x_test,	y_train,	y_test	=	train_test_split(x,	y,	test_size=0.2,
	stratify=y,
	random_state=2023)
x_test	=	pd.DataFrame(x_test)
x_train	=	pd.DataFrame(x_train)
y_train	=	pd.DataFrame(y_train)
y_test	=	pd.DataFrame(y_test) #	평가용
x_test.reset_index()
y_train.columns	= ['target']
y_test.columns	= ['target']

In [4]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(712, 14)
(179, 14)
(712, 1)
(179, 1)

In [10]:
print(x_train.info())
# 총 갯수 712개, age(579), embarked(710), deck(164), embark_town(710)

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 3 to 608
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pclass       712 non-null    int64
 1   sex          712 non-null    object
 2   age          579 non-null    float64
 3   sibsp        712 non-null    int64
 4   parch        712 non-null    int64
 5   fare         712 non-null    float64
 6   embarked     710 non-null    object
 7   class        712 non-null    category
 8   who          712 non-null    object
 9   adult_male   712 non-null    bool
 10  deck         164 non-null    category
 11  embark_town  710 non-null    object
 12  alive        712 non-null    object
 13  alone        712 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(3), object(5)
memory usage: 64.4+ KB
None

In [11]:
print(x_test.info())
# 총 갯수 179개, age(135), deck(39)

<class 'pandas.core.frame.DataFrame'>
Index: 179 entries, 800 to 410
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pclass       179 non-null    int64
 1   sex          179 non-null    object
 2   age          135 non-null    float64
 3   sibsp        179 non-null    int64
 4   parch        179 non-null    int64
 5   fare         179 non-null    float64
 6   embarked     179 non-null    object
 7   class        179 non-null    category
 8   who          179 non-null    object
 9   adult_male   179 non-null    bool
 10  deck         39 non-null     category
 11  embark_town  179 non-null    object
 12  alive        179 non-null    object
 13  alone        179 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(3), object(5)
memory usage: 16.6+ KB
None

In [12]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 3 to 608
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  712 non-null    int64
dtypes: int64(1)
memory usage: 11.1 KB
None

In [13]:
print(x_train.describe())

           pclass         age       sibsp       parch        fare
count  712.000000  579.000000  712.000000  712.000000  712.000000
mean     2.307584   29.479568    0.518258    0.372191   31.741836
std      0.834926   14.355304    1.094522    0.792341   45.403910
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.000000    0.000000    0.000000    7.895800
50%      3.000000   28.000000    0.000000    0.000000   14.454200
75%      3.000000   38.000000    1.000000    0.000000   31.275000
max      3.000000   74.000000    8.000000    6.000000  512.329200

In [14]:
print(x_test.describe())

           pclass         age       sibsp       parch        fare
count  179.000000  135.000000  179.000000  179.000000  179.000000
mean     2.312849   30.640741    0.541899    0.418994   34.043364
std      0.842950   15.258427    1.137797    0.859760   64.097184
min      1.000000    1.000000    0.000000    0.000000    0.000000
25%      2.000000   22.000000    0.000000    0.000000    7.925000
50%      3.000000   29.000000    0.000000    0.000000   14.500000
75%      3.000000   39.000000    1.000000    0.000000   30.285400
max      3.000000   80.000000    8.000000    5.000000  512.329200

In [15]:
print(y_train.describe())

           target
count  712.000000
mean     0.383427
std      0.486563
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000