In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 불러오기 mtcars
df = pd.read_csv("mtcars.csv")
df.head(3)

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

1. mtcars 데이터셋의 mpg열 데이터의 평균이  
20과 다르다고 할 수 있는지 검정하시오. (유의수준 5%)

In [8]:
import scipy.stats as stats
from scipy.stats import shapiro

In [10]:
stats.shapiro(df['mpg'])

ShapiroResult(statistic=np.float64(0.9475647265971182), pvalue=np.float64(0.12288135948636081))

In [15]:
stats.ttest_1samp(df['mpg'], popmean = 20, alternative='two-sided')

TtestResult(statistic=np.float64(0.08506003568133688), pvalue=np.float64(0.9327606409093872), df=np.int64(31))

mtcars 데이터셋의 mpg열 데이터의 평균이  
17보다 크다고 할 수 있는지 검정하시오.(유의수준 5%)

In [19]:
import scipy.stats as stats
from scipy.stats import shapiro

stats.shapiro(df['mpg'])

ShapiroResult(statistic=np.float64(0.9475647265971182), pvalue=np.float64(0.12288135948636081))

In [24]:
stats.ttest_1samp(df['mpg'], popmean = 17, alternative = 'greater')
# print(help(stats.ttest_1samp))

TtestResult(statistic=np.float64(2.900840527201366), pvalue=np.float64(0.0033941550078339126), df=np.int64(31))

In [25]:
df['mpg'].mean()

np.float64(20.090625000000003)

Case	1)	대응표본(쌍체)	t검정(paired	t-test)  
문제	1-1	  
다음은 혈압약을 먹은 전,후의 혈압 데이터이다.  
혈압약을 먹기 전,	후의 차이가 있는지 쌍체	t	검정을 실시하시오  
(유의수준	5%)  
before	:	혈압약을 먹기 전 혈압,	after	:	혈압약을 먹은 후의 혈압  
H0(귀무가설)	:	after	-	before	=	0  
H1(대립가설)	:	after	-	before	≠	0

In [26]:
import	pandas	as	pd
import	numpy	as	np
import	scipy.stats	as	stats
from	scipy.stats	import	shapiro

In [27]:
#	데이터 만들기
df	=	pd.DataFrame( {
'before': [120, 135, 122, 124, 135, 122, 145, 160, 155, 142, 144, 135, 167],
			'after' : [110, 132, 123, 119, 123, 115, 140, 162, 142, 138, 135, 142, 160] })
print(df.head(3))

   before  after
0     120    110
1     135    132
2     122    123

In [28]:
stats.shapiro(df['after'] - df['before'])

ShapiroResult(statistic=np.float64(0.9588784956405686), pvalue=np.float64(0.7362699178574191))

In [30]:
stats.ttest_ind(df['after'], df['before'], alternative='two-sided')

TtestResult(statistic=np.float64(-0.8191722818556323), pvalue=np.float64(0.4207486213941666), df=np.float64(24.0))

In [31]:
#	데이터 만들기
df	=	pd.DataFrame( {
				'A': [120, 135, 122, 124, 135, 122, 145, 160, 155, 142, 144, 135, 167],
				'B' : [110, 132, 123, 119, 123, 115, 140, 162, 142, 138, 135, 142, 160] })
print(df.head(3))

     A    B
0  120  110
1  135  132
2  122  123

In [32]:
stats.shapiro(df['A'])

ShapiroResult(statistic=np.float64(0.9314373738322363), pvalue=np.float64(0.35584957364120257))

In [33]:
stats.shapiro(df['B'])

ShapiroResult(statistic=np.float64(0.9498199298581277), pvalue=np.float64(0.5955637454032426))

In [40]:
stats.ttest_ind(df['A'], df['B'], alternative='greater')

TtestResult(statistic=np.float64(0.8191722818556323), pvalue=np.float64(0.2103743106970833), df=np.float64(24.0))