In [2]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("../mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

#### 1. 중심 측도를 나타내는 값 ( 평균, 중앙값, 최빈값 )

In [6]:
# 행과 열이 어떻게 되어있는가?
df.shape

(32, 12)

In [10]:
# 평균 값 구하기
mpg_mean = df['mpg'].mean()
print(mpg_mean)

20.090625000000003

In [13]:
# 중앙값 구하기
mpg_median = df['mpg'].median()
print(mpg_median)

19.2

In [18]:
# 최빈값 구하기
mpg_mode = df['cyl'].mode()
print(mpg_mode[0])

8

In [21]:
df['cyl'].value_counts()

cyl
8    14
4    11
6     7
Name: count, dtype: int64

#### 2) 산포도를 나타내는 값 (분산, 표준편차, IQR, 범위(최대-최소) 등)

In [27]:
# 분산 variance
mpg_var = df['mpg'].var()
print(mpg_var)

36.32410282258064

In [28]:
# 표준편차 standard deviation
mpg_std = df['mpg'].std()
print(mpg_std)

6.026948052089104

In [32]:
# 1사분위
Q1 = df['mpg'].quantile(0.25)
print(Q1)

15.425

In [33]:
# 3사분위
Q3 = df['mpg'].quantile(0.75)
print(Q3)

22.8

In [34]:
# IQR 구하기
IQR = Q3-Q1
print(IQR)

7.375

In [36]:
# 2사분위, median
Q2 = df['mpg'].quantile(0.5)
print(Q2)

median = df['mpg'].median()
print(Q2==median)

19.2
True

In [38]:
# 범위(Range) = 최대값 - 최소값
mpg_max = df['mpg'].max()
print(mpg_max)

mpg_min = df['mpg'].min()
print(mpg_min)

mpg_range = mpg_max - mpg_min
print(mpg_range)

33.9
10.4
23.5

#### 분포의 비대칭도

In [40]:
# 왜도 Skewness
mpg_skew = df['mpg'].skew()
print(mpg_skew)

0.6723771376290805

In [42]:
# 첨도 kurtosis
mpg_kurt = df['mpg'].kurt()
print(mpg_kurt)

-0.0220062914240855

#### 4. 기타(합계, 절대값, 데이터 수 등)

In [44]:
# 합계
mpg_sum = df['mpg'].sum()
print(mpg_sum)

642.9000000000001

In [48]:
# 절대값
IQR2 = Q1 - Q3
print(IQR2)
print(abs(IQR2))

-7.375
7.375

In [50]:
# 데이터 수
len(df['mpg'])

32

#### 5. 그룹화 하여 계산하기 (groupby 활용)

In [53]:
# species별로 각 변수의 평균 구해보기
import seaborn as sns
df = sns.load_dataset('iris')
df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [56]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa