문제1-1.  
다음은 mtcars 데이터셋이다.  
am, gear 컬럼 값 조합에 따라 아래와 같이 3개의 그룹으로 나뉜다고 할 때  
3개 그룹의 mpg 표준편차를 구해 max값, min값을 확인하여  
표준편차의 범위(range) 값을 구하시오.  
(단, 정답은 반올림하여 소수점 첫재짜리까지 구하시오)  
3개 그룹 : A그룹(am:1, gear:4), B그룹(am:0, gear:3), C그룹(am:0, gear:4)

In [4]:
# 데이터 준비
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.csv")

In [5]:
# df['am'].unique() # 0 1
df['gear'].unique() # 4 3 5
df = df[df['gear'] != 5.0]

df = df.groupby(['am', 'gear']).agg({
    'mpg':'std'})

df = df.reset_index()

max_value = df['mpg'].max()
min_value = df['mpg'].min()
round(max_value - min_value, 1)

np.float64(2.3)

문제1-2.  
다음은 mtcars 데이터셋이다.  
5개 변수(disp, hp, drat, wt, qsec)들 중에  
mpg 변수와 상관관계가 가장 큰 변수를 선정하고  
선정한 변수를 최대-최소 정규화 진행 후 값이 0.5를 초과하는 데이터의 수와  
선정한 변수를 z-score 표준화 진행하여 Z값이 1 을 초과하는 데이터 수를  
더하면 얼마가 되는지 구하시오.

In [6]:
# 데이터 준비
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.csv")

In [7]:
pd.get_dummies(df.loc[:,['disp', 'hp', 'drat', 'wt', 'qsec', 'mpg']]).corr()

          disp        hp      drat        wt      qsec       mpg
disp  1.000000  0.790949 -0.710214  0.887980 -0.433698 -0.847551
hp    0.790949  1.000000 -0.448759  0.658748 -0.708223 -0.776168
drat -0.710214 -0.448759  1.000000 -0.712441  0.091205  0.681172
wt    0.887980  0.658748 -0.712441  1.000000 -0.174716 -0.867659
qsec -0.433698 -0.708223  0.091205 -0.174716  1.000000  0.418684
mpg  -0.847551 -0.776168  0.681172 -0.867659  0.418684  1.000000

In [8]:
df2 = df.copy()
df3 = df.copy()

max_value = df2[['wt']].max()
min_value = df2[['wt']].min()

df2 = (df2[['wt']] - min_value ) / (max_value - min_value)
cond1 = len(df2[df2['wt'] > 0.5])
df3 = ( df3[['wt']] - df3[['wt']].mean() ) / df3[['wt']].std()
cond2 = len(df3[df3['wt'] > 1])
print(cond1 + cond2)

14

다음은 시간대별로 생산된 wine의 화학조성 데이터이다.  
24년 1월에 생산된 wine과 24년 2월에 생산된 wine의  
alcohol 변수 평균값 차이를 절대값으로 구하시오.  
(단, 정답은 반올림하여 소수점 첫째자리까지 구하시오)

In [9]:
############### 복사 영역 ###################
from sklearn.datasets import load_wine
# 와인 데이터셋을 로드합니다.
wine = load_wine()
X, y = load_wine(return_X_y= True, as_frame=True)
df = X.copy() 
df['time'] = pd.date_range('2024-01-01 00:00:00', '2024-03-29 12:00:00', periods= 178)
df = df[ ['time','alcohol','malic_acid','ash','magnesium'] ]
df = df.set_index('time', drop=True)
############### 복사 영역 ###################

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 178 entries, 2024-01-01 00:00:00 to 2024-03-29 12:00:00
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   alcohol     178 non-null    float64
 1   malic_acid  178 non-null    float64
 2   ash         178 non-null    float64
 3   magnesium   178 non-null    float64
dtypes: float64(4)
memory usage: 7.0 KB

In [11]:
df1 = df[(df.index.year == 2024) & (df.index.month == 1)]
df2 = df[(df.index.year == 2024) & (df.index.month == 2)]

In [12]:
cond1 = df1['alcohol'].mean()
cond2 = df2['alcohol'].mean()

result = round(abs(cond2 - cond1), 1)
result

np.float64(1.4)

다음은 사람의 키(cm)와 몸무게(kg) 데이터이다.  
BMI를 아래와 같은 공식으로 구할 수 있다고 할 때  
정상에 속하는 사람과 비만에 속하는 사람의 인원 수 차이를  
절대값으로 구하시오.  
BMI 공식 = 몸무게(kg) / (키(m)의 제곱)  
BMI 지수별 비만도  
18.5미만 : 저체중  
18.5이상 ~ 23미만 : 정상  
23이상 ~ 25미만 : 과체중  
25이상 ~ 30미만 : 비만  
30이상 : 고도비만

In [13]:
############### 복사 영역 ###################
# 데이터 생성
data = {
    'height': [172, 173, 161, 168, 176, 175, 172, 169, 175, 171, 178, 166, 176, 164, 169, 164, 163, 179, 168, 177, 179, 164, 169, 163, 162, 170, 175, 177, 163, 171],
    'weight': [77, 70, 89, 90, 63, 85, 80, 78, 83, 66, 53, 85, 50, 55, 96, 75, 95, 100, 92, 90, 50, 89, 81, 71, 65, 96, 70, 95, 54, 62]
}
df = pd.DataFrame(data)
############### 복사 영역 ###################

df['bmi'] = df['weight'] / ((df['height']/100) ** 2)
df['bmi_check'] = np.where(df['bmi'] >= 30, '고도비만',
                           np.where(df['bmi'] >= 25, '비만',
                                    np.where(df['bmi'] >= 23, '과체중',
                                             np.where(df['bmi'] >= 18.5, '정상', '저체중'))))

len(df[df['bmi_check'] == '비만']) - len(df[df['bmi_check'] == '정상'])

3

다음은 당뇨 진척정도 데이터셋이다.  
주어진 변수들 중에 s3 변수와 음의 상관관계가 가장 큰 변수 2개의  
상관계수 값을 구하고, 두 상관계수의 차이값을 절대값으로 구하시오.  
(단, 반올림하여 소수점 첫째자리까지 구하시오)

In [14]:
############### 복사 영역 ################### 
import pandas as pd
import numpy as np
from sklearn.datasets import load_diabetes
# 당뇨진척정도 데이터셋을 로드합니다.
X, y = load_diabetes(return_X_y= True, as_frame=True)
df = X
############### 복사 영역 ###################
df.head(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930

In [15]:
df.corr()['s3'].sort_values().head(2)

s4   -0.738493
s5   -0.398577
Name: s3, dtype: float64

In [16]:
round(abs((-0.738493) - (-0.398577)),1)

0.3

다음은 wine의 화학조성 데이터셋이다.  
magnesium 칼럼 값이 이상치를 나타내는 와인들을 선정하고  
그 와인들 중에 class가 0인 와인의 비율을 구하시오.  
(단, 이상치는 Z-score 표준화 후 값이 1.5를 초과하거나 1.5미만인 값이다)  
(단, 이상치 비율은 반올림하여 소수점 둘째자리 까지 구하시오)

In [17]:
############### 복사 영역 ###################
import pandas as pd
import numpy as np
from sklearn.datasets import load_wine
# 와인 데이터셋을 로드합니다.
X, y = load_wine(return_X_y= True, as_frame=True)
df = pd.concat([y,X],axis=1)
df.rename(columns={'target':'class'}, inplace=True)
############### 복사 영역 ###################
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   class                         178 non-null    int64
 1   alcohol                       178 non-null    float64
 2   malic_acid                    178 non-null    float64
 3   ash                           178 non-null    float64
 4   alcalinity_of_ash             178 non-null    float64
 5   magnesium                     178 non-null    float64
 6   total_phenols                 178 non-null    float64
 7   flavanoids                    178 non-null    float64
 8   nonflavanoid_phenols          178 non-null    float64
 9   proanthocyanins               178 non-null    float64
 10  color_intensity               178 non-null    float64
 11  hue                           178 non-null    float64
 12  od280/od315_of_diluted_wines  178 non-null    float64
 13  proline                       178 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [18]:
df['z_score'] = (df['magnesium'] - df['magnesium'].mean()) / df['magnesium'].std()
df1 = df[df['z_score'] > 1.5] 
df2 = df[df['z_score'] < -1.5]
count = len(df1) + len(df2)
df1 = len(df1[df1['class'] == 0])
df2 = len(df2[df2['class'] == 0])
result = (df1 + df2) / count
round(result,2)

0.31

문제1-7  
다음은 와인의 화학 조성 데이터셋이다.  
ash 칼럼 값이 상자그림 기준으로 이상치를 나타내는 와인들을 선정하고  
그 와인들 중에 class가 1인 와인의 비율을 구하시오.  
(class 컬럼은 0,1,2의 값을 가지며 와인의 종류를 나타냄)  
(단, 이상치 비율은 반올림하여 소수점 둘째자리 까지 구하시오

In [19]:
############### 복사 영역 ###################
import pandas as pd
import numpy as np
from sklearn.datasets import load_wine
# 와인 데이터셋을 로드합니다.
X, y = load_wine(return_X_y= True, as_frame=True)
df = pd.concat([y,X],axis=1)
df.rename(columns={'target':'class'}, inplace=True)
############### 복사 영역 ###################
df.head(3)

,class,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,0,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,0,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0

In [20]:
Q3 = df['ash'].quantile(0.75)
Q1 = df['ash'].quantile(0.25)
IQR = Q3 - Q1
upper = Q3 + 1.5 * IQR
lower = Q1 - 1.5 * IQR

df2 = df[(df['ash'] > upper) | (df['ash'] < lower)]
cond1 = len(df2)
cond2 = len(df2[df2['class'] == 1])
result = round(cond2/cond1,2)
result

0.67

문제1-8  
다음은 시간대별로 생산된 wine의 화학조성 데이터이다.  
alcohol칼럼의 결측치를 모두 제거하고  
첫번째 행부터 순서대로 50%까지의 데이터를 추출하여  
24년 1월에 생산한 wine의 alcohol 최소값과  
24년 2월에 생산한 wine의 alcohol 최소값의 차이를 절대값으로 구하시오.  
(단, 정답은 반올림하여 소수점 첫째자리까지 구하시오)

In [21]:
############### 복사 영역 ###################
from sklearn.datasets import load_wine
# 와인 데이터셋을 로드합니다.
wine = load_wine()
X, y = load_wine(return_X_y= True, as_frame=True)
data = X.copy() 
data['time'] = pd.date_range('2024-01-01 00:00:00', '2024-03-29 12:00:00', periods= 178)
# 열순서 변경(time 변수를 맨 앞으로)
data = data[ ['time'] + [col for col in data if col != 'time'] ]
# 결측치 생성
data.loc[50:91, 'alcohol'] = np.nan
df = data.copy() 
df = df.astype({'time':'object'})
############### 복사 영역 ###################

df= df.dropna(subset=['alcohol'])
df = df.head(int(len(df)*0.5))
df['time'] = pd.to_datetime(df['time'])

cond1 = df[(df['time'].dt.year == 2024) & (df['time'].dt.month == 1)]['alcohol'].min()
print(cond1)
cond2 = df[(df['time'].dt.year == 2024) & (df['time'].dt.month == 2)]['alcohol'].min()
print(cond2)

result = round(abs(cond1 - cond2),1)
result

12.85
11.61

np.float64(1.2)

문제1-9  
다음은 시간대별로 생산된 wine의 화학조성 데이터이다.  
24년 3월에 생산된 wine의 alcohol칼럼의 결측치를  
24년 1~2월에 생산한 wine의 alcohol 최소값으로 대체한 후  
24년 3월 wine의 alcohol 이상치의 개수를 상자그림 기준으로 구하시오.

In [22]:
############### 복사 영역 ###################
from sklearn.datasets import load_wine
# 와인 데이터셋을 로드합니다.
wine = load_wine()
X, y = load_wine(return_X_y= True, as_frame=True)
data = X.copy() 
data['time'] = pd.date_range('2024-01-01 00:00:00', '2024-03-29 12:00:00', periods= 178)
# 열순서 변경(time 변수를 맨 앞으로)
data = data[ ['time'] + [col for col in data if col != 'time'] ]
# 결측치 생성
data.loc[140:176, 'alcohol'] = np.nan
df = data.copy() 
df = df.astype({'time':'object'})
############### 복사 영역 ###################

In [23]:
df['time'] = pd.to_datetime(df['time'])
# 1~2월의 알콜 최솟값
min_value = df[(df['time'].dt.year == 2024)&((df['time'].dt.month==1)|(df['time'].dt.month ==2))]['alcohol'].min()
min_value

# 결측치 채우기
df.loc[(df['time'].dt.month == 3) & (df['alcohol'].isna()), 'alcohol'] = min_value

# 3월 알콜 이상치 개수 박스플롯
df_merch = df[(df['time'].dt.month == 3)][['alcohol']]
Q3 = df_merch['alcohol'].quantile(0.75)
Q1 = df_merch['alcohol'].quantile(0.25)
IQR = Q3 - Q1
upper = Q3 + 1.5 * IQR
lower = Q1 - 1.5 * IQR

# df_merch[df_merch['alcohol'] > upper]
print(len(df_merch[(df_merch['alcohol'] > upper) | (df_merch['alcohol'] < lower)]))

1